:root {
  --main-font-family: "Roboto", sans-serif;
  --second-font-famyli: "Raleway", sans-serif;
  --main-color: #2e2f42;
  --secondary-color: #404bbf;
  --btn-hover-focus-title-color: #ffffff;
  --text-second-part-logo-footer-color: #f4f4fd;
  --logo-main-button-color: #4d5ae5;
  --body-color: #434455;
  --main-button-border-color: #e7e9fc;
  --fifth-section-link-color: #8e8f99;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

body {
  font-family: var(--main-font-family);
  color: var(--body-color);
  background-color: #ffffff;
}

/* MOBILE HEADER */

.container {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

.menu-header {
  display: none;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo {
  font-family: var(--second-font-famyli);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;

  color: var(--logo-main-button-color);
}
.second-part-logo-header {
  color: var(--main-color);
}
.mobile-menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  align-items: center;
  line-height: 0;
}
.mobile-menu {
  position: fixed;
width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 1;
}
.mobile-menu-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #2e2f42;
  border-color: #e7e9fc;
  background-color: transparent;
}
.mobile-menu-container {
  position: relative;
  padding-left: 40px;
  padding-top: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-social-list {
  display: flex;
  justify-content: left;
  gap: 56px;
}
@media screen and (max-width: 427px){
  .mobile-menu-social-list{
    gap: 30px;
  }
  
}
.mobile-menu-link:active {
  color: var(--secondary-color);
}
.mobile-menu-first-link {
  color: var(--secondary-color);
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-address {
  
  font-style: normal;
}
.mobile-menu-contact-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}
.mobile-menu-contact-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.mobile-menu-contact-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;


  color: #434455;
}
.mobile-menu-contact-mail {
  display: block;
}
.social-list {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  gap: 56px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--logo-main-button-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  fill: var(--text-second-part-logo-footer-color);
}

/* MOBILE FIRST SECTION */
.first-section {
  background-color: #2e2f42;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/dark-bg.jpg");
  background-size: cover;
  max-width: 428px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/dark-bg@2x.jpg");
  }
}

.page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  color: var(--btn-hover-focus-title-color);
}
.order-btn {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--logo-main-button-color);
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  color: var(--btn-hover-focus-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  min-width: 320px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 584px;
  padding-top: 72px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-container {
  margin-bottom: 8px;
}

.form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #2e2f42;
}
.contact-form-field-wrapper {
  display: block;
  margin-bottom: 8px;
}
.contact-form-textarea-container {
  margin-bottom: 16px;
}

.contact-form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  font-family: var(--main-font-family);
  font-weight: 400;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-field-wrapper {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.input-icon-container {
  position: relative;
}
.contact-form-checkboxx-container {
  margin-bottom: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.contact-form-checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.contact-form-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.contact-form-checkbox:checked
  + .contact-form-checkbox-text
  .contact-form-checkbox-span {
  background-color: var(--secondary-color);
  border: none;
  fill: var(--btn-hover-focus-title-color);
}
.checkbox-link {
  color: var(--logo-main-button-color);
}
.contact-form-btn {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--logo-main-button-color);
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  color: var(--btn-hover-focus-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* MOBILE SECOND SECTION */

.second-section-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.second-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.item-second-section-list {
  flex-basis: calc((100% - 72px) / 4);
}
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  color: var(--main-color);
}
.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-color);
}

.our-principles-container {
  display: none;
}

/* MOBILE THIRD SECTION */

.third-section {
  display: none;
}

/* MOBILE FOURTH SECTION */

.fourth-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.fourth-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
  color: var(--main-color);
}

.fourth-section-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
  flex-basis: calc((100% - 24px) / 3);
}

.employees-list-text-content {
  padding: 32px 0;
}

.center-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  color: var(--main-color);
}
.center-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--body-color);
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--logo-main-button-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  fill: var(--text-second-part-logo-footer-color);
}

.first-item {
  background-color: #ffffff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.first-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* MOBILE FIFTH SECTION */

.fifth-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.fifth-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;

  color: var(--main-color);
}
.fifth-section-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 16px) / 2);
  justify-content: center;
  align-items: center;
  gap: 72px 16px;
}
.fifth-section-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.fifth-section-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  height: 100%;
  border-radius: 4px;
  color: var(--fifth-section-link-color);
  border-color: var(--fifth-section-link-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fifth-section-icon {
  fill: #8e8f99;
  fill: currentColor;
}

/* MOBILE FOOTER */

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-text-footer {
  margin: 0 auto 72px;
  text-align: center;
}
.logo-footer {
  font-family: var(--second-font-famyli);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  color: var(--logo-main-button-color);
}
.second-part-logo-footer {
  color: var(--text-second-part-logo-footer-color);
}
.social-list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
 
}
.text-footer {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 268px;
  text-align: start;
  min-height: 72px;
  color: var(--text-second-part-logo-footer-color);
}
.social-media-footer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  
}
.footer-container {
  display: flex;
  flex-direction: column;
}

.social-media-text-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;

  color: var(--btn-hover-focus-title-color);
}
.footer-form-field-wrapper {
  display: block;
  margin-bottom: 16px;
  width: 100%;
}
.subscribe-form-footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer-form-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  color: #ffffff;
}
.footer-form-input:focus {
  outline: none;
  border: 1px solid var(--logo-main-button-color);
}
.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 8px 24px;
  height: 40px;
  background-color: var(--logo-main-button-color);
  min-width: 165px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--btn-hover-focus-title-color);
}
.footer-form-icon {
  margin-left: 16px;
}
.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-form-input::placeholder {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* TABLET */

@media screen and (max-width: 767px) {
  .menu-header,
  .address {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  
  .tablet-container{
    width: 584px;
  }
  .mobile-menu-open-btn {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* TABLET HEADER */

  .header-container {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu-header {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    position: relative;
    color: var(--main-color);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active-link {
    color: var(--secondary-color);
  }

  .active-link::after {
    display: block;
    content: "";
    border-radius: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    width: 48px;
    height: 4px;
    margin-top: 20px;
    bottom: -1px;
  }

  .second-menu-link::after {
    width: 66px;
  }
  .third-menu-link::after {
    width: 67px;
  }
  .address {
    font-style: normal;
    margin-left: auto;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .contacts {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--body-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* TABLET FIRST SECTION */

  .first-section {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/dark-bg-tablet.jpg");
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
  }
  .page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;

    color: var(--btn-hover-focus-title-color);
  }

  /*TABLET SECOND SECTION */

  .hidden-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .second-section-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
  }
  .item-second-section-list {
    flex-basis: calc((100% - 24px) / 2);
  }
  .subtitle {
    font-size: 36px;
    line-height: 1.1;
    text-align: start;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

    color: var(--main-color);
  }
  .description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--body-color);
  }

  /*TABLET FOURTH SECTION */

  .fourth-section {
    background-color: #f4f4fd;
  }
  .fourth-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    color: var(--main-color);
  }
  .fourth-section-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px 24px;
  }
  .first-item {
    background-color: #ffffff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  /*TABLET FIFTH SECTION */

  .fifth-section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px 24px;
  }
  .fifth-section-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }

  /*TABLET FOOTER */

  .page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
    flex-direction: row;
  }
  .logo{
    margin-right: 120px;
  }
  .logo-text-footer {
    margin: 0;
    text-align: left;
  }
  .social-media-footer {
    margin: 0;
  }
  .logo-footer {
    justify-content: start;
  }
  .social-list-footer {
    display: flex;
    justify-content: start;
    margin: 0;
  }
  .footer-form-field-wrapper{
    margin-bottom: 0;
  }
  .subscribe-form-footer {
    width: 100%;
  }
  .social-media-text-footer {
    margin-bottom: 16px;
    text-align: left;
  }
  .text-footer {
    margin-left: 0;
  }
  .footer-form {
    display: flex;
    justify-content: left;
    flex-direction: row;
    row-gap: 24px;
    align-items: baseline;
  }
  .footer-form-field-wrapper {
    display: block;
    margin-right: 24px;
    width: 264px;
  }
  .footer-form-input {
    width: 264px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .first-section { 
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ), url("../images/dark-bg-tablet@2x.jpg");
    }
  }

/* DESKTOP */

@media screen and (min-width: 1158px) {
  /* DESKTOP HEADER */

  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
.logo{
margin-right: 76px;
}
  .contact-list {
    flex-direction: row;
    gap: 40px;

  }
  .menu-link:hover {
    color: var(--secondary-color);
  }
  .menu-link:focus {
    color: var(--secondary-color);
  }
  .contacts{
    font-size: 16px;
    line-height: 1.5;
  }
  .contacts:hover,
  .contacts:focus {
    color: var(--secondary-color);
  }

  /*DESKTOP FIRST SECTION */

  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg");
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .page-title{
    margin-bottom: 48px;
  }
  .order-btn:hover {
    color: var(--btn-hover-focus-title-color);
    background-color: #404bbf;
  }
  .order-btn:focus {
    color: var(--btn-hover-focus-title-color);
    background-color: var(--secondary-color);
  }

  /* DESKTOP SECOND SECTION */
  .second-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .second-section-list {
    flex-wrap: nowrap;
  }
  .our-principles-container {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .subtitle {
    font-weight: 500;
    font-size: 20px;
  }
  .description {
    font-weight: 400;
  }

  /* DESKTOP THIRD SECTION */

  .third-section {
    display: block;
  }
  .third-section {
    padding-bottom: 120px;
  }
  .third-section-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 24px) / 3);
  }

  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    color: var(--main-color);
  }
  .social-list-link:hover {
    background: #404bbf;
  }
  .social-list-link:focus {
    background-color: #404bbf;
  }



    /* DESKTOP FIFTH SECTION */


  .fourth-section{
    padding-top: 120px;
    padding-bottom: 120px;
  }


  /* DESKTOP FIFTH SECTION */


  .fifth-section{
  padding-top: 120px;
  padding-bottom: 120px;
  }

  .fifth-section-list {
    flex-wrap: nowrap;
  }
  .fifth-section-link:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  .fifth-section-link:focus {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
  }

  /* DESKTOP FOOTER */

  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
  }
  .logo-text-footer {
    margin-right: 120px;
  }
  .subscribe-form-footer {
    margin-left: 80px;
  }
 
  .page-footer {
    padding-left: 0;
  }
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: var(--secondary-color);
    border: none;
    fill: var(--btn-hover-focus-title-color);
  }
  .footer-form-btn:hover {
    color: var(--btn-hover-focus-title-color);
    background-color: var(--secondary-color);
  }
  .footer-form-btn:focus {
    color: var(--btn-hover-focus-title-color);
    background-color: var(--secondary-color);
  }
  .social-list-link-footer:hover {
    background-color: #31d0aa;
  }
  .social-list-link-footer:focus {
    background-color: #31d0aa;
  }
  .contact-form-textarea:focus {
    border-color: var(--logo-main-button-color);
  }
  .contact-form-input:focus {
    border-color: #4d5ae5;
  }

  .contact-form-input:focus + .contact-form-input-icon {
    fill: var(--logo-main-button-color);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .first-section { 
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ), url("../images/dark-bg-tablet@2x.jpg");
    }
  }



/* PORTFOLIO */


.tittle-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  color: var(--main-color);
}
.paragraph-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--body-color);
}
.main-button {
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--main-button-border-color);
  align-items: center;
  padding: 12px 24px;
  transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--logo-main-button-color);
  background-color: #f4f4fd;
}
.main-button:hover {
  color: var(--btn-hover-focus-title-color);
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.main-button:focus {
  color: var(--btn-hover-focus-title-color);
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.overlay{
  position: absolute;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
background-color: var(--logo-main-button-color);
width: 100%;
height: 100%;
top: 0;
left: 0;
padding: 40px 32px;
overflow: auto;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(100%);
color: var( --text-second-part-logo-footer-color);
}

.overlay-wrapper{
  position: relative;
  overflow: hidden;
}

.portfolio-section-link:hover .overlay{
transform: translateY(0%);
}
.portfolio-section-link:focus .overlay{
  transform: translateY(0%);
}

.list-shadow:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  
}

.list-btn {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  column-gap: 24px;
}

.link-list-container {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}


.portfolio-section-link{
  display: block; 
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section-link:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-section-link:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
